body{
    background: #dedede;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

::-webkit-scrollbar {
    width: 0.5em;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: darkcyan;
 }

h1,
button,
label{
    color: darkcyan;
    font-weight: 600;
    margin: 5px;
}

.neu,
.neo-out{
    border-radius: 5px;
    background: #dedede;
    box-shadow:  4px 4px 8px #bdbdbd, 
                 -4px -4px 8px #ffffff;
    border: none;
}

.neu-in{
    border-radius: 5px;
    background: #dedede;
    border: none;
    box-shadow: inset 4px 4px 8px #bdbdbd, 
                inset -4px -4px 8px #ffffff;
}

input,
th,
td,
.neu-inMin{
    border-radius: 2px;
    background: #dedede;
    border: none;
    box-shadow: inset 2px 2px 4px #bdbdbd, 
                inset -2px -2px 4px #ffffff;
}

table,
button,
.neu-outMin{
    border-radius: 5px;
    background: #dedede;
    box-shadow:  2px 2px 4px #bdbdbd, 
                 -2px -2px 4px #ffffff;
    border: none;
}

input{
    padding: 10px;
}

button{
    border: 2px solid #dedede;
    transition: 0.1s;
}
button:hover{
    border: 2px solid black;
}

hr{
    border: 2px solid darkcyan;
    margin: 20px;
}

table{
    width: 100%;
    border: 2px solid black;
}
th,
td{
    text-align: center;
    border: 2px solid black;
    border-radius: 0;
}

.neu-inMin-alt{
    background: rgb(222, 100,100);
    box-shadow: inset 2px 2px 4px rgb(189, 85, 85),
                inset -2px -2px 4px rgb(255, 115, 115)
}