.container{
    margin-top: 50px;
}

.hidden{
    display: none;
}

#game-menu,
#room-menu{
    text-align: center;
    padding: 10px;
    min-height: 500px;
}

#messages{
    height: 400px;
    overflow: auto;
    overflow-x: hidden;
}

ul{
    list-style-type: none;
}

li{
    padding: 5px 10px;
    margin: 0;
}

article li{
    margin-top: 5px;
    border: 2px solid darkcyan;
}

#messages li:nth-child(even) { background: rgba(50, 50, 50, 0.1); }
#messages li:nth-child(odd) { background: rgba(150 , 150, 150, 0.1); }

.flex{
    display: flex;
}

input,
button{
    margin-top: 10px;
}

article{
 width: 70%;
 padding: 10px;
 text-align: center;
 min-height: 500px;
}

aside{
width: 30%;
padding: 10px;
float: right;
margin-left: 10px;
min-height: 500px;
}

