.container{
    margin-top: 50px;
}

.hidden{
    display: none;
}

#game-menu,
#room-menu{
    text-align: center;
    padding: 10px;
    min-height: 500px;
}

#messages{
    height: 400px;
    overflow: auto;
    overflow-x: hidden;
}

ul{
    list-style-type: none;
}

li{
    padding: 5px 10px;
    margin: 0;
}

article li{
    margin-top: 5px;
    border: 2px solid darkcyan;
}

.flex{
    display: flex;
}

label{
    display: inline;
}

input{
    padding: 5px;
}

input,
button{
    margin-top: 10px;
}

article{
 width: 70%;
 padding: 10px;
 text-align: center;
 min-height: 500px;
}

aside{
width: 30%;
padding: 10px;
float: right;
margin-left: 10px;
min-height: 500px;
}

table{
    width: 100%;
}

th,
td{
    text-align: center;
    border-radius: 0;
}

p{
    margin-bottom: 1rem;
    white-space: pre-line; /* for new line (\n) */
}

::-webkit-scrollbar {
    width: 0.5em;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: darkcyan;
}
